:root {
  --green: #35b5ac;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Slabo 27px', serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Slabo 27px', serif;
}

body > nav {
  height: 40px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 800;
}

body > nav div {
  flex: 1;
}

body > nav a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

body > nav a:hover,
body > nav a:focus {
  text-decoration: underline;
  color: var(--green);
}

label[for] {
  display: none;
}

label {
  cursor: pointer;
}

.group {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  align-self: center;
  margin: 0 auto;
}

main section {
  width: 300px;
  height: auto;
}

hr {
  width: 100%;
  align-self: center;
}

main section nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: auto;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

main section nav a {
  color: #008080;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 16px;
}

aside {
  width: 100%;
}

form {
  display: flex;
  margin-bottom: 40px;
}

.left {
  flex: 1;
  flex-direction: row;
  display: flex;
}

button {
  color: black;
  font-size: 16px;
  border-radius: 4px;
  border: 1px #ddd solid;
  background: none;
  min-width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background: #ddd;
}

button:active,
button:focus {
  border: 0;
  background: #35b5ac;
  color: white;
}

button:active:hover,
button:focus:hover {
  filter: brightness(90%);
}

input[type="search"] {
  width: 100%;
  height: 40px;
  padding: 20px;
  padding-left: 0;
  margin-bottom: 20px;
  box-shadow: none;
  border: 0;
  border-bottom: 2px black solid;
  margin-bottom: 20px;
  font-size: 22px;
  outline: none;
  position: relative;
}

input[type="search"]::placeholder {
  font-size: 22px;
}

input[type="search"]:focus,
input[type="search"]:valid {
  border-color: #35b5ac;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

li {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.sort {
  display: flex;
  align-items: center;
}

.sort ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.sort span {
  display: none;
  align-items: center;
  width: auto;
  margin: 0;
}

.sort span {
  display: flex;
  cursor: pointer;
  font-weight: 600;
}

.sort span:hover {
  color: var(--green)
}

.sort em {
  cursor: pointer;
}

.sort em:hover:after {
  content: 'high to low ▲';
  color: black;
  margin-left: 5px;
  font-style: normal;
}

.sort em:after {
  content: 'low to high ▼';
  color: black;
  margin-left: 5px;
  font-style: normal;
}

.with-checkbox {
  display: flex;
}

.with-checkbox span {
  margin-right: 10px;
}

.with-checkbox input {
  margin-left: 10px;
}

select {
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
  background: none;
  border: 0;
  font-size: 16px;
  font-family: 'Slabo 27px', serif;
}

.pagination {
  display: flex;
  margin-bottom: 20px;
  font-size: 16px;
  flex-direction: row;
  justify-content: center;
}

.pagination a,
.pagination span {
  font-size: 16px;
  font-family: 'Slabo 27px', serif;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: black;
}

.pagination a {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px #ddd solid;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pagination a:nth-child(2) {
  color: white;
  border-color: var(--green);
  background: var(--green);
}

.pagination a:hover {
  color: var(--green);
}