*, *:before, *:after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

h2 {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header {
  position: sticky;
  height: 60px;
  width: 100%;
  top: 0;
  display: block;
  background: #2C9C91;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  z-index: 1;
}

.header h1 {
  display: inline-block;
  align-self: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 22px;
  font-size: 16px;
}

.pagination {
  align-items: center;
  justify-content: center;
  width: auto;
}

.pagination button {
  cursor: pointer;
  width: auto;
  background: none;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  border-radius: 4px;
  border: 1px white solid;
  font-weight: bold;
}

.pagination button:hover {
  color: white;
}

.pagination button:active {
  color: black;
}

.pagination strong {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.list {
  padding-left: 0;
  margin-left: 20px;
  margin-right: 20px;
  text-indent: 0;
  list-style: none;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.list-item {
  display: flex;
  border-bottom: 1px #eee solid;
  border-right: 1px #eee solid;
  border-left: 1px #eee solid;
  transition: transform 0.2s;
  cursor: pointer;
  height: auto;
}

.list-item:first-child {
  border-top: 1px #eee solid;
}

.list-item:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.list-item-photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 180px;
  min-width: 180px;
  height: 120px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}

.list-item-photo:hover:after {
  content: '⇾';
  font-size: 28px;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5)
}

.list-item-details {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  flex-direction: column;
  flex: 1;
}

.list-item-name {
  font-weight: 600;
  margin-bottom: 4px;
}

.list-item-description {
  margin-bottom: 20px;
}

.list-item-date {
  margin-bottom: 20px;
  color: #999;
}

.list-item-data {
  display: flex;
  align-self: flex-start;
  padding-top: 20px;
}

.list-item-actions {
  display: flex;
  height: auto;
  margin-left: 20px;
  flex-direction: column;
}

.action {
  width: 40px;
  flex: 50%;
  border: 0;
  display: block;
  border-left: 1px #eee solid;
  cursor: pointer;
  background-color: white;
}

.action svg {
  width: 22px;
  height: 22px;
}

.action.hover svg path,
.action:hover svg path {
  fill: white;
}

.action:nth-child(1) {
  border-bottom: 1px #eee solid;
}

.action.hover,
.action:hover {
  background-color: #FFEA00;
}

.action.hover:hover {
  background-color: white;
}

.action.hover:hover svg path {
  fill: #ccc;
}

.action:nth-child(2).hover,
.action:nth-child(2):hover {
  background-color: red;
}

.pill {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  border: 1px #eee solid;
  color: #999;
  margin-left: 10px;
}

.search {
  flex: 1;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: white;
  border: 1px white solid;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
}

.search:focus,
.pagination button:focus {
  box-shadow: 1px 1px 9px 2px rgba(0,0,0,0.3)
}

.empty {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.dropdown button {
  border: 0;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 20px;
  position: relative;
  border-radius: 4px;
  background: #EC407A;
  cursor: pointer;
  font-weight: bold;
}

.dropdown button:active {
  background: white;
  color: #EC407A;
}

.dropdown-children {
  position: absolute;
  top: 60px;
  background: #2C9C91;
  display: block;
  width: 100%;
  height: 0;
  left: 0;
  transition: padding 0.2s, height 0.2s;
  display: flex;
  padding: 0;
  border-top: 1px #40a79c solid;
  align-items: center;
}

.dropdown-children.open {
  height: 100px;
  padding: 20px;
  padding-left:  60px;
  padding-right: 60px;
}

.input-range,
.input-range__label-container {
  color: white;
}

.input-range__label-container {
  font-size: 14px;
  margin: 20px;
}

.input-range__track.input-range__track--active {
  background: #EC407A
}

.input-range__slider {
  background: #EC407A;
  border-color: #EC407A;
}

.input-range__label--value {
  top: -40px;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -30px;
}
