body {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

[v-cloak] {
    display: none
}

a {
    color: #5992C7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
  display: grid;
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column
}

img {
    width: 100%;
    background: #eee;
    height: auto;
}

h1 {
    margin: 0 0 40px 0;
}

.result {
    position: relative
}

.result-hide {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    background: #C92343;
    border: none;
    color: white;
}


.result-hide:hover {
    background-color: rgb(245, 63, 100)
}

.result-hide:active {
    background: white;
    color: rgb(245, 63, 100);
}

.result-title {
   margin: 20px 0 20px 0;
   font-size: 20px;
}

.result-description {
    padding-bottom: 20px;
    margin: 0;
}

.result-link {
    background-size: cover;
    background-color: #eee;
    width: 100%;
    height: 300px;
    background-position: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.result-date {
    margin-bottom: 20px;
    margin-top: 0;
    display: inline-block;
    color: #666;
}

.result-details {
    display: inline-block;
    border-top: 1px #eee solid;
    padding-top: 10px;
    border-bottom: 1px #eee solid;
    padding-bottom: 10px;
}

.result-gallery {
    position: relative;
}

.result-gallery-modal {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    flex-direction: column;
    align-items: center;
}

.result-gallery-modal-close {
    background: grey;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.result-gallery-modal-close:hover {
    color: grey;
    background: white;
}

.result-photos-count {
    position: absolute;
    right: 10px;
    bottom: 15px;
    background: white;
    display: block;
    color: black;
    width: auto;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.result-photos-count:hover {
    background: black;
    color: white;
}

.result-gallery-main {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 40px;
}

.result-gallery-thumbnails {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    margin-top: 40px;
}

.result-thumbnail {
    background-size: cover;
    background-color: #eee;
    width: 80px;
    height: 80px;
    background-position: 50%;
    display: block;
    cursor: pointer;
}

.result-thumbnail:hover {
    opacity: 0.7;
}

.result-gallery-item {
    margin-right: 10px;
}

.result-gallery-item:last-child {
    margin-right: 0;
}

nav {
    display: flex;
    flex-direction: row;
}

nav h1 {
    flex: 1
}

nav select {
    margin-bottom: 40px;
    cursor: pointer;
    font-size: 18px;
}

nav label {
    font-size: 20px;
    padding-right: 10px;
    line-height: 28px;
    cursor: pointer;
}

nav .button {
    background: black;
    border: 0;
    color: white;
    height: 30px;
    width: 100px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}

nav .button:hover {
    opacity: 0.85
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    border-top: 1px #eee solid;
    padding-top: 40px;
    padding-bottom: 30px;
}

.pagination {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 40px;
}

.pagination-bottom {
    padding-bottom: 0;
    padding-top: 40px;
}

.pagination-total {
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
}

.filters {
  display: flex;
  justify-content: flex-end;
}

.sort {
  margin-left: 20px;
  color: #666;
}

.sort:before {
  content: '|';
  margin-right: 10px;
  color: #ddd;
}

@media screen and (min-width: 40em) {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }

  body {
      padding: 30px
  }

  footer {
      padding-bottom: 0;
  }
}
