*, *:before, *:after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 40px;
}

header {
  width: 100%;
  height: 60px;
  padding: 10px;
  border-bottom: 1px #ddd solid;
  color: black;
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  background: white;
}

nav {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

input:focus {
  border-radius: 6px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-full {
  flex: 1;
}

.column-middle {
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.search {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  border: 1px #ddd solid;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}

.search:hover,
.search:focus {
  outline: none;
  box-shadow: 0px 0px 15px #ddd;
}

.results {
  display: flex;
  flex-direction: column;
}

.result-group {
  text-transform: capitalize;
}

.result {
  display: flex;
  min-height: 80px;
  align-content: center;
  flex-direction: row;
  border: 1px #ddd solid;
  overflow: hidden;
  transition: transform 50ms;
  border-bottom: 0;
}

.result:last-child {
  border-bottom: 1px #ddd solid;
}

.result-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  padding-right: 80px;
  margin-left: 10px;
}

.result:hover {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  cursor: pointer;
  transform: scale(1.01);
  border-bottom: 1px #ddd solid;
}

.result-link {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: 50%;
  display: block;
  margin: 10px;
}

.result-expand {
  border: 0;
  background: 0;
  display: inline-block;
  cursor: pointer;
  color: grey;
}

.result-expand:hover {
  color: blue;
}

.result input {
  padding: 20px;
  width: 20px;
  height: 20px;
}

.result-actions {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 40px;
  top: 0;
  right: 0;
  border: 0;
  height: 100%;
  border-left: 1px #ddd solid;
}

.result-action {
  flex: 50% 1;
  display: flex;
  width: 100%;
  text-align: center;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.result-action.bad:hover {
  background: red;
  color: white;
}

.result-action.good:hover,
.result-action.good.active {
  background: green;
  font-weight: bold;
  color: white;
}

.result-action:first-child {
  margin-right: 5px;
}

.result-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.result-description {
  font-size: 14px;
  line-height: 22px;
  flex: 1;
}

.result-date {
  margin-top: 3px;
}

.result-date {
  font-size: 14px;
  color: #999;
  font-weight: normal;
}

.result-details {
  position: absolute;
  top: 15px;
  right: 50px;
}

.result-details span {
  border: 1px #ddd solid;
  color: #aaa;
  border-radius: 2px;
  padding: 3px;
  font-size: 12px;
  font-weight: normal;
}

.result-details span:first-child {
  margin-right: 10px;
}

filter {
  margin-bottom: 20px;
}
